@import '../../styles/base.scss';

.team-swiper-container {
  position: relative;
}

.custom-swiper-navigation {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 48px;
  width: 348px;

  hr {
    background-color: $tertiary-color;
    border: none;
    height: 1px;
    width: 64px;
  }

  @include breakpoint {
    justify-content: end;
    
    &--hide-mobile {
      display: none;
    }
  }

  &__control {
    border: 1px solid $tertiary-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
  }

  @include breakpoint {
    width: auto;
  }
}

.teammember {
  &__header {
    position: absolute;
    left: 0;
    font-size: 36px;
  }

  &__card-img-container {
    position: relative;

    img {
      border: 1px solid $tertiary-color;
      width: 100%;
    }
  
    &::before {
      background-color: $background-color;
      display: inline-block;
      width: 100%;
      height: calc(100% - 3px);;
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      border: 1px solid $tertiary-color;
      z-index: -1;
    }
  
    &::after {
      background-color: $background-color;
      display: inline-block;
      width: 100%;
      height: calc(100% - 3px);;
      content: "";
      position: absolute;
      left: 9px;
      top: 9px;
      border: 1px solid $tertiary-color;
      z-index: -2;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 304px;
  }

  &__title {
    color: $secondary-color;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__name {
    font-size: 32px;
    margin-bottom: 16px;
  }

  &__bio {
    font-size: 14px;
  }
}