@import 'reset.scss';

p {
  font-size: 14px;
}

// colors
$text-color: #080D36;
$background-color: #F3F6F8;
$secondary-color: #98A9AF;
$tertiary-color: #CCD7DB;
// spacing
$max-width: 1200px;

// breakpoint


// Swiper overrides

.swiper {
  height: 500px;
  padding-bottom: 25px;
}

.swiper-slide {
  width: auto !important;
}

.swiper-slide img {
  width: auto;
  height: 100%;
}
