@import 'reset.scss';

// breakpoint

@mixin breakpoint {
  @media (max-width: 980px) { @content ; }
}

@mixin wideBreakpoint {
  @media (min-width: 1400px) { @content ;}
}

@mixin breakpointTeamSwiper {
  @media (max-width: 1200px) { @content ; }
}

p {
  font-size: 14px;

  @include wideBreakpoint {
    font-size: 16px;
  }
}

h2 {
  @include wideBreakpoint {
    font-size: 36px !important;
  }
}

h3 {
  @include wideBreakpoint {
    font-size: 28px !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// colors
$text-color: #080D36;
$background-color: #F3F6F8;
$secondary-color: #98A9AF;
$tertiary-color: #CCD7DB;
// spacing
$max-width: 1200px;


// Swiper overrides

.swiper {
  height: 500px;
  padding-bottom: 25px;
}

.swiper-slide {
  width: auto !important;
}

.swiper-slide img {
  width: auto;
  height: 100%;
}
