@import 'reset.scss';

// breakpoint

@mixin breakpoint {
  @media (max-width: 980px) { @content ; }
}

@mixin wideBreakpoint {
  @media (min-width: 1400px) { @content ;}
}

@mixin breakpointTeamSwiper {
  @media (max-width: 1200px) { @content ; }
}

p, a {
  @include wideBreakpoint {
    font-size: 18px;
    letter-spacing: -1%;
    line-height: 24px;
  }

  font-size: 16px;
  letter-spacing: -1%;
  line-height: 19px;

  @include breakpoint {
    font-size: 16px;
    letter-spacing: -1%;
    line-height: 19px;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}

h1 {
  @include wideBreakpoint {
    font-size: 5.5vw;
    letter-spacing: -.2vw;
  }

  font-size: 5.5vw;
  letter-spacing: -.2vw;

  @include breakpoint {
    font-size: 7vw;
    letter-spacing: -.2vw;
  }
}

h2 {
  @include wideBreakpoint {
    font-size: 45px;
    letter-spacing: -1%;
    line-height: 52px;
  }

  font-size: 32px;
  letter-spacing: -1%;
  line-height: 36px;

  @include breakpoint {
    font-size: 24px;
    letter-spacing: -1%;
    line-height: 28px;
  }
}

h3 {
  @include wideBreakpoint {
    font-size: 36px;
    letter-spacing: -1%;
    line-height: 44px;
  }

  font-size: 24px;
  letter-spacing: -1%;
  line-height: 28px;

  @include breakpoint {
    font-size: 24px;
    letter-spacing: -1%;
    line-height: 28px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// colors
$text-color: #080D36;
$background-color: #F3F6F8;
$secondary-color: #98A9AF;
$tertiary-color: #CCD7DB;
// spacing
$max-width: 1200px;


// Swiper overrides

.swiper {
  padding-bottom: 25px;
}

.swiper-slide {
  width: auto !important;
}

.swiper-slide img {
  width: auto;
  height: 100%;
}
