@import '../../styles/base.scss';
@font-face {
  font-family: 'InterExtraBold';
  src: url('../../fonts/Inter-ExtraBold.ttf');
}
@font-face {
  font-family: 'CirkaBold';
  src: url('../../fonts/PPCirka-Bold.ttf');
}

.layout {
  background-color: $bg-color;
  font-family: 'CirkaBold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p {
    line-height: 22px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  &--background-image {
    height: 100vh;
    max-width: $site-max-width + 100px;
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
  }

  &--content-container {
    display: flex;
    flex-direction: column;
    max-width: $content-max-width;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &--navbar {
    align-items: center;
    flex: 0 0 128px;
    display: flex;
    justify-content: space-between;
    max-width: $content-max-width;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    @include breakpoint {
      flex: 0 0 80px;
    }

    &__title {
      font-size: 32px;
      padding-left: 0px;
      @include breakpoint {
        padding-left: 16px;
      }
    }

    &__cta-container {
      display: flex;
      padding-right: 0px;
      @include breakpoint {
        padding-right: 16px;
      }
    }

    &__roadmap-cta {
      font-family: 'InterExtraBold';
      font-size: 14px;
      letter-spacing: 1px;
      padding: 0 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include breakpoint {
        display: none;
      }
    }

    &__logo {
      width: 48px;
    }
  }  
}