@import '../../styles/base.scss';

.custom-swiper-navigation {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 48px;
  width: 348px;

  hr {
    background-color: $tertiary-color;
    border: none;
    height: 1px;
    width: 64px;
  }

  &__control {
    border: 1px solid $tertiary-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
  }

  @include breakpoint {
    width: auto;
  }
}

.swiper-slide-container {
  border: 1px solid $tertiary-color;

  &::before {
    background-color: $background-color;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    border: 1px solid $tertiary-color;
    z-index: -1;
  }

  &::after {
    background-color: $background-color;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    border: 1px solid $tertiary-color;
    z-index: -2;
  }
}
.swiper.asset-gallery-initialized {
  @include breakpoint {
    height: 250px;
  }
}