@import '../../styles/base.scss';

.footer {
  background: $primary-color;
  padding: 48px 0;
  color: $bg-color;
  font-family: 'InterExtraBold';
  letter-spacing: 1px;
  position: relative;
  margin-top: 96px;

  &:before {
    content: "";
    position: absolute;
    height: 96px;
    width: 100%;
    max-width: $content-max-width;
    background: $bg-color;
    top: -96px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  &__content {
    display: flex;
    max-width: $content-max-width;
    margin: 0 auto;
    @include breakpoint {
      flex-direction: column;
    }
  }

  &__left-container {
    display: flex;
    justify-content: inherit;
    padding-bottom: 0;
    @include breakpoint {
      justify-content: center;
      padding-bottom: 32px;
    }
  }

  &__right-container {
    font-size: 12px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    @include breakpoint {
      margin-left: unset;
      flex-direction: column;
    }

    p {
      display: inline-block;
      padding-left: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}